:root {
    --design-icon: #E6563B;
    --develop-icon: #EB9D3A;
    --support-icon: #7CB06c;
    --host-icon: #00ABA9;
    --image-border: #E6E6E6;
}

.figure-img {
    border-color: var(--image-border);
    border-style: solid;
}

.navbar-collapse, h5{
    font-family: Abel;
}

h1, h2{
    font-family: Anton;
}

body{
    background-color: #F0F0F0;
}


.content {
    font-family: Abel;
}


.design-badge{
    height: 108px;
    width: 108px;
    font-weight: bold;
    border: solid white 6px;
    border-radius: 50%;
    font-size: 15px;
    background-color: #E6563B;
    font-family: Anton;
}

.develop-badge{
    height: 108px;
    width: 108px;
    font-weight: bold;
    border: solid white 6px;
    border-radius: 50%;
    font-size: 15px;
    background-color: #EB9D3A;
    font-family: Anton;
}

.support-badge{
    height: 108px;
    width: 108px;
    font-weight: bold;
    border: solid white 6px;
    border-radius: 50%;
    font-size: 15px;
    background-color: #7CB06C;
    font-family: Anton;
}

.host-badge{
    height: 108px;
    width: 108px;
    font-weight: bold;
    border: solid white 6px;
    border-radius: 50%;
    font-size: 15px;
    background-color: #00ABA9;
    font-family: Anton;
}

.circle{
    color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-family: Anton;
}

.badge-danger{
    background-color: var(--design-icon)
}


.badge-warning {
    background-color: var(--develop-icon)
}
#smredCircle, #smorangeCircle, #smgreenCircle, #smblueCircle{
    border-radius: 18px;
    height: 18px;
    width: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em

}

.badge-success{
    background-color: var(--support-icon)
}

.badge-info{
    background: var(--host-icon)
}

.head-img,.iphone-img, .ipad-img {
    height: 70px;
    width: 70px;
    padding: 3px;
    margin: 5px;
}

.pic-title {
    display: flex;
    padding: 19px;
    margin: 10px;

}


li{
    list-style-type: none;
}



#smblueCircle {
    background-color: #00ABA9;
}
.small-badges {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;

}


