.navbar-collapse {
    font-family: Abel;
}

h1, h3{
    font-family: Anton;
}

#main-heading{

}

body{
    background-color: #E6E6E6;
}

#redCircle{
    background-color: #E6563B;
    border: 5px solid white;
    border-radius: 7.4em;
    height: 7.4em;
    width: 7.4em;
    display: flex;
    align-items: center;
}

#orangeCircle{
    background-color: #EB9D3A;
    border: 5px solid white;
    border-radius: 7.4em;
    height: 7.4em;
    width: 7.4em;
    align-items: center;
    display: flex;
}

#greenCircle{
    background-color: #7CB06C;
    border: 5px solid white;
    border-radius: 7.4em;
    height: 7.4em;
    width: 7.4em;
    display: flex;
    align-items: center;
}

#blueCircle{
    background-color: #00ABA9;
    border: 7px solid white;
    border-radius: 7.4em;
    height: 7.4em;
    width: 7.4em;
    display: flex;
    align-items: center;
    padding:

}

.myflexBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    padding: 0 60px;


}